In [2]:
import requests

url = "https://www.kurzy.cz/"
response = requests.get(url)

In [3]:
response

In [9]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.text, 'html.parser')

records = soup.find_all("div", class_="rowcl")
len(records)

31

In [18]:
import pandas

In [22]:
burza = []
for record in records:
    #print(record)
    title = record.find("a", class_="cola")
    value = record.find("span", class_="colb")
    if title is not None and value is not None:
        #print(title.text)
        cena = value.text
        cena = cena.replace(",", "")
        burza.append([title.text, float(cena)])

In [23]:
burza

[['COLT CZ GROUP SE', 764.0],
 ['ČEZ', 1289.0],
 ['ERSTE GROUP BANK A', 2008.0],
 ['GEN DIGITAL', 585.0],
 ['KOFOLA CS', 496.0],
 ['KOMERČNÍ BANKA', 1055.0],
 ['MONETA MONEY BANK', 177.6]]

In [27]:
x=pandas.DataFrame(burza, columns=["Titul", "Cena"])

In [28]:
x.set_index("Titul", inplace=True)

In [29]:
x

                      Cena
Titul
COLT CZ GROUP SE     764.0
ČEZ                 1289.0
ERSTE GROUP BANK A  2008.0
GEN DIGITAL          585.0
KOFOLA CS            496.0
KOMERČNÍ BANKA      1055.0
MONETA MONEY BANK    177.6